.karla-David{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.karantina-light {
  font-family: "Karantina", system-ui;
  font-weight: 300;
  font-style: normal;
}

.karantina-regular {
  font-family: "Karantina", system-ui;
  font-weight: 400;
  font-style: normal;
}

.karantina-bold {
  font-family: "Karantina", system-ui;
  font-weight: 700;
  font-style: normal;
}
